{{/*
Copyright (c) 2025 dung13890. All rights reserved.
Mit License (MIT)
*/}}

{{define "internal/usecase/name/usecase.go"}}package {{.Domain}}

// Usecase ...
type Usecase struct {
}

// NewUsecase will create new usecase
func NewUsecase() *Usecase {
	return &Usecase{}
}
{{end}}
