{{/*
Copyright (c) 2025 dung13890. All rights reserved.
Mit License (MIT)
*/}}

{{define "internal/adapter/gateway/service/jwt_svc.go"}}package service

import (
	"context"

	"go-app/internal/domain/gateway"
)

// jwtService is a struct that represent the jwt's service
type jwtService struct {
}

// NewJwtService will create new an jwtService object representation of gateway.JWTService interface
func NewJWTService() gateway.JWTService {
	return &jwtService{}
}

// Generate is a function to generate the jwt token
func (*jwtService) Generate(context.Context) (string, error) {
	// Implement JWT token generation logic here
	return "", nil
}
{{end}}
