{{/*
Copyright (c) 2023 dung13890. All rights reserved.
Mit License (MIT)
*/}}

{{define "cmd/seed/main.go"}}package main

import (
	"time"

	"{{.Module}}/config"
	"{{.Module}}/internal/app"
	"{{.Module}}/pkg/logger"
)

func main() {
	logger.InitLogger()
	if err := config.LoadConfig(); err != nil {
		logger.Error().Fatal(err)
	}

	conf := config.GetAppConfig()

	// Set timezone
	loc, err := time.LoadLocation(conf.AppTimeZone)
	if err != nil {
		logger.Error().Fatal(err)
	}
	time.Local = loc

	dbConfig := config.GetDBConfig()
	if err := app.Seed(dbConfig); err != nil {
		logger.Error().Fatal(err)
	}
}
{{end}}
