{{/*
Copyright (c) 2025 dung13890. All rights reserved.
Mit License (MIT)
*/}}

{{define "internal/service/domain_svc.go"}}package service

import (
	"{{.Project}}/internal/domain/service"
)

// {{.Domain}}Service is a struct that represent the {{.Domain}}'s service
type {{.Domain}}Service struct {
}

// New{{.Domain | capitalize}}Service will create new an {{.Domain}}Service object representation of service.{{.Domain | capitalize}}Service interface
func New{{.Domain | capitalize}}Service() service.{{.Domain | capitalize}}Service {
	return &{{.Domain}}Service{}
}
{{end}}
