{{/*
Copyright (c) 2023 dung13890. All rights reserved.
Mit License (MIT)
*/}}

{{define "internal/modules/auth/repository/password_reset_dao.go"}}package repository

import (
	"time"
)

// PasswordReset DAO model
type PasswordReset struct {
	Email     string `json:"email" gorm:"primaryKey"`
	Token     string `json:"token"`
	CreatedAt time.Time
	UpdatedAt time.Time
}
{{end}}
