{{/*
Copyright (c) 2023 dung13890. All rights reserved.
Mit License (MIT)
*/}}

{{define "internal/modules/auth/repository/repository.go"}}package repository

import (
	"{{.Project}}/internal/domain"
)

// Repository for module auth
type Repository struct {
	RoleR     domain.RoleRepository
	UserR     domain.UserRepository
	PasswordR domain.PasswordResetRepository
}
{{end}}
