{{/*
Copyright (c) 2023 dung13890. All rights reserved.
Mit License (MIT)
*/}}

{{define "internal/delivery/http/domain_dto.go"}}package http

import (
	"time"

	"{{.Project}}/internal/domain"
)

// {{.Domain | capitalize}}Request is request for create {{.Domain}}
type {{.Domain | capitalize}}Request struct {
}

// {{.Domain | capitalize}}Response is struct used for {{.Domain}}
type {{.Domain | capitalize}}Response struct {
	ID        uint      `json:"id"`
	CreatedAt time.Time `json:"created_at"`
	UpdatedAt time.Time `json:"updated_at"`
}

// {{.Domain | capitalize}}StatusResponse is struct when success
type {{.Domain | capitalize}}StatusResponse struct {
	Status bool `json:"status"`
}

// convert{{.Domain | capitalize}}RequestToEntity DTO
func convert{{.Domain | capitalize}}RequestToEntity(*{{.Domain | capitalize}}Request) *domain.{{.Domain | capitalize}} {
	return &domain.{{.Domain | capitalize}}{}
}

// convert{{.Domain | capitalize}}EntityToResponse DTO
func convert{{.Domain | capitalize}}EntityToResponse(dm *domain.{{.Domain | capitalize}}) {{.Domain | capitalize}}Response {
	return {{.Domain | capitalize}}Response{
		ID:        dm.ID,
		CreatedAt: dm.CreatedAt,
		UpdatedAt: dm.UpdatedAt,
	}
}
{{end}}
