{{/*
Copyright (c) 2025 dung13890. All rights reserved.
Mit License (MIT)
*/}}

{{define "internal/delivery/http/handler.go"}}package http

import (
	"{{.Project}}/internal/registry"

	"github.com/labstack/echo/v4"
	"github.com/labstack/echo/v4/middleware"
)

// NewHandler will initialize the endpoints
func NewHTTPHandler(
	e *echo.Echo,
	registry *registry.Registry,
) {
	e.Use(middleware.Logger())
	e.Use(middleware.Recover())
	g := e.Group("/api")

	// Middleware

	// Init Handler
	authHandler := NewAuthHandler(registry.AuthUc)
	// <!-- Add other handlers here -->

	// routes
	g.POST("/auth/sign-in", authHandler.SignIn)
	// <!-- Add other routes here -->
}
{{end}}
