{{/*
Copyright (c) 2025 dung13890. All rights reserved.
Mit License (MIT)
*/}}

{{define "internal/adapter/repository/domain_repo.go"}}package repository

import (
	"{{.Project}}/internal/domain/repository"

	"gorm.io/gorm"
)

// {{.Domain}}Repository ...
type {{.Domain}}Repository struct {
	*gorm.DB
}

// New{{.Domain | capitalize}}Repository will implement of repository.{{.Domain | capitalize}}Repository interface
func New{{.Domain | capitalize}}Repository(db *gorm.DB) repository.{{.Domain | capitalize}}Repository {
	return &{{.Domain}}Repository{
		DB: db,
	}
}
{{end}}
