{{/*
Copyright (c) 2025 dung13890. All rights reserved.
Mit License (MIT)
*/}}

{{define "internal/adapter/repository/domain_repo.go"}}package repository

import (
	"context"
	"{{.Project}}/internal/domain/entity"
	"{{.Project}}/internal/domain/repository"
	"{{.Project}}/pkg/errors"

	"gorm.io/gorm"
)

// {{.Domain}}Repository ...
type {{.Domain}}Repository struct {
	*gorm.DB
}

// New{{.Domain | capitalize}}Repository will implement of repository.{{.Domain | capitalize}}Repository interface
func New{{.Domain | capitalize}}Repository(db *gorm.DB) repository.{{.Domain | capitalize}}Repository {
	return &{{.Domain}}Repository{
		DB: db,
	}
}

// Find will find content from db
func (rp *{{.Domain}}Repository) Find(ctx context.Context, id uint) (*entity.{{.Domain | capitalize}}, error) {
	dao := {{.Domain}}{}
	if err := rp.DB.WithContext(ctx).First(&dao, id).Error; err != nil {
		if errors.Is(err, gorm.ErrRecordNotFound) {
			return nil, errors.ErrNotFound.Wrap(err)
		}
		return nil, errors.ErrUnexpectedDBError.Wrap(err)
	}

	return convert{{.Domain | capitalize}}ToEntity(&dao), nil
}
{{end}}
