{{/*
Copyright (c) 2025 dung13890. All rights reserved.
Mit License (MIT)
*/}}

{{define "internal/adapter/repository/domain_dao.go"}}package repository

import (
	"{{.Project}}/internal/domain/entity"

	"gorm.io/gorm"
)

// {{.Domain}} DAO model
type {{.Domain}} struct {
	gorm.Model
}

// convert{{.Domain}}ToEntity .-
func convert{{.Domain | capitalize}}ToEntity(dao *{{.Domain}}) *entity.{{.Domain | capitalize}} {
	e := &entity.{{.Domain | capitalize}}{
		ID:        dao.ID,
		CreatedAt: dao.CreatedAt,
		UpdatedAt: dao.UpdatedAt,
	}

	return e
}

// convert{{.Domain | capitalize}}ToDao .-
func convert{{.Domain | capitalize}}ToDao(entity *entity.{{.Domain | capitalize}}) *{{.Domain}} {
	d := &{{.Domain}}{
		Model: gorm.Model{
			ID:        entity.ID,
			CreatedAt: entity.CreatedAt,
			UpdatedAt: entity.UpdatedAt,
		},
	}

	return d
}
{{end}}
