{{/*
Copyright (c) 2023 dung13890. All rights reserved.
Mit License (MIT)
*/}}

{{define "internal/modules/name/usecase/usecase.go"}}package usecase

import (
	"{{.Project}}/internal/domain"
)

// Usecase for module auth
type Usecase struct {
	{{.Domain | capitalize}}UC domain.{{.Domain | capitalize}}Usecase
}
{{end}}
