{{/*
Copyright (c) 2025 dung13890. All rights reserved.
Mit License (MIT)
*/}}

{{define "internal/usecase/auth/signin_uc.go"}}package auth

import (
	"context"

	"{{.Project}}/pkg/errors"
	"{{.Project}}/pkg/utils"
)

// Login is function uses to log in
func (uc *Usecase) SignIn(ctx context.Context, email, passwd, ip string) (string, int64, error) {
	// 1. Retrieve user by email
	user, err := uc.repo.FindByEmail(ctx, email)
	if err != nil {
		return "", 0, errors.ErrAuthLoginFailed.Trace()
	}
	// 2. Compare passwords
	if !utils.ComparePassword(passwd, user.Password) {
		return "", 0, errors.ErrAuthLoginFailed.Trace()
	}

	// 3. Generate token
	jwt, err := uc.jwtSvc.Generate(ctx)
	if err != nil {
		return "", 0, errors.ErrAuthLoginFailed.Wrap(err)
	}

	// 4. Make expiration time
	return jwt, 0, nil
}
{{end}}
