{{/*
Copyright (c) 2025 dung13890. All rights reserved.
Mit License (MIT)
*/}}

{{define "internal/usecase/auth/usecase.go"}}package auth

import (
	"{{.Project}}/internal/domain/gateway"
	"{{.Project}}/internal/domain/repository"
)

// Usecase ...
type Usecase struct {
	jwtSvc gateway.JWTService
	repo   repository.UserRepository
}

// NewUsecase will create new auth usecase
func NewUsecase(
	jwtSvc gateway.JWTService,
	repo repository.UserRepository,
) *Usecase {
	return &Usecase{
		jwtSvc: jwtSvc,
		repo:   repo,
	}
}
{{end}}
