{{/*
Copyright (c) 2025 dung13890. All rights reserved.
Mit License (MIT)
*/}}

{{define "internal/infrastructure/registry/registry.go"}}package registry

import (
	"{{.Project}}/internal/adapter/gateway/service"
	"{{.Project}}/internal/adapter/repository"
	"{{.Project}}/internal/usecase/auth"

	"gorm.io/gorm"
)

// Registry struct
type Registry struct {
	// <!-- Add domain usecases here -->
	AuthUc *auth.Usecase
}

// NewRegistry will create new registry
func NewRegistry(db *gorm.DB) *Registry {
	// Initialize repositories
	userRepo := repository.NewUserRepository(db)

	// Initialize services with adapters
	jwtSvc := service.NewJWTService()

	return &Registry{
		AuthUc: auth.NewUsecase(jwtSvc, userRepo),
		// <!-- Initialize other domain usecases here -->
	}
}
{{end}}
