{{/*
Copyright (c) 2025 dung13890. All rights reserved.
Mit License (MIT)
*/}}

{{define "internal/delivery/http/dto/domain_dto.go"}}package dto

import (
	"time"

	"{{.Project}}/internal/domain/entity"
)

// {{.Domain | capitalize}}Request is request for create {{.Domain}}
type {{.Domain | capitalize}}Request struct {
}

// {{.Domain | capitalize}}Response is struct used for {{.Domain}}
type {{.Domain | capitalize}}Response struct {
	ID        uint      `json:"id"`
	CreatedAt time.Time `json:"created_at"`
	UpdatedAt time.Time `json:"updated_at"`
}

// Convert{{.Domain | capitalize}}RequestToEntity DTO
func Convert{{.Domain | capitalize}}RequestToEntity(*{{.Domain | capitalize}}Request) *entity.{{.Domain | capitalize}} {
	return &entity.{{.Domain | capitalize}}{}
}

// Convert{{.Domain | capitalize}}EntityToResponse DTO
func Convert{{.Domain | capitalize}}EntityToResponse(dm *entity.{{.Domain | capitalize}}) {{.Domain | capitalize}}Response {
	return {{.Domain | capitalize}}Response{
		ID:        dm.ID,
		CreatedAt: dm.CreatedAt,
		UpdatedAt: dm.UpdatedAt,
	}
}
{{end}}
