{{/*
Copyright (c) 2025 dung13890. All rights reserved.
Mit License (MIT)
*/}}

{{define "internal/delivery/http/dto/domain_dto.go"}}package dto

import (
	"time"
)

// {{.Domain | capitalize}}Request is request for create {{.Domain}}
type {{.Domain | capitalize}}Request struct {
}

// {{.Domain | capitalize}}Response is struct used for {{.Domain}}
type {{.Domain | capitalize}}Response struct {
	ID        uint      `json:"id"`
	CreatedAt time.Time `json:"created_at"`
	UpdatedAt time.Time `json:"updated_at"`
}
{{end}}
