{{/*
Copyright (c) 2023 dung13890. All rights reserved.
Mit License (MIT)
*/}}

{{define "internal/usecase/usecase.go"}}package usecase

import (
	"{{.Project}}/internal/domain"
)

// Usecase for all usecase
type Usecase struct {
	{{.Domain | capitalize}}UC domain.{{.Domain | capitalize}}Usecase
}
{{end}}
