{{/*
Copyright (c) 2025 dung13890. All rights reserved.
Mit License (MIT)
*/}}

{{define "internal/domain/service/domain_svc.go"}}//go:generate mockgen -source=$GOFILE -destination=mock/{{.Domain}}_svc_mock.go

package service

// {{.Domain | capitalize}}Service is a struct that represent the {{.Domain | capitalize}}'s service
type {{.Domain | capitalize}}Service interface {
}
{{end}}
