{{/*
Copyright (c) 2025 dung13890. All rights reserved.
Mit License (MIT)
*/}}

{{define "cmd/migrate/main.go"}}package main

import (
	"time"

	"{{.Project}}/internal/infrastructure/config"
	"{{.Project}}/internal/infrastructure/database"
	"{{.Project}}/pkg/logger"
)

func main() {
	logger.Init()
	if err := config.LoadConfig(); err != nil {
		logger.Error(err)
	}

	conf := config.GetAppConfig()

	// Set timezone
	loc, err := time.LoadLocation(conf.AppTimeZone)
	if err != nil {
		logger.Error(err)
	}
	time.Local = loc

	db := config.GetDBConfig()

	if err := database.Migrate(db); err != nil {
		logger.Error(err)
	}
}
{{end}}
