{{/*
Copyright (c) 2023 dung13890. All rights reserved.
Mit License (MIT)
*/}}

{{define "internal/modules/auth/usecase/usecase.go"}}package usecase

import (
	"{{.Project}}/internal/domain"
)

// Usecase for module auth
type Usecase struct {
	RoleUC domain.RoleUsecase
	UserUC domain.UserUsecase
	AuthUC domain.AuthUsecase
}
{{end}}
